<div th:fragment="header">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">List Mahasiswa</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</div>