<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header::header"></div>
</head>

<body>
    <!-- start navbar -->
    <div th:replace="fragments/navbar::navbar"></div>
    <!-- end navbar -->

    <!-- start form -->
    <div class="text-center display-3">
        <a th:text="${title}"></a>
    </div>
    <div class="container">

        <form th:object="${mahasiswa}" th:action="@{/apiclient/mahasiswa/save}" method="post">
            <!-- npm -->
            <div class="mb-3">
                <label for="npm" class="form-label">NPM</label>
                <input type="text" class="form-control" id="npm" required placeholder="Ex. 1412190001" th:field="*{npm}">
            </div>

            <!-- nama -->
            <div class="mb-3">
                <label for="nama" class="form-label">Nama</label>
                <input type="text" class="form-control" id="nama" required placeholder="Ex. Irda Islakhu Afa" th:field="*{nama}">
            </div>

            <!-- JK -->

            <label for="jk" class="form-label">Jenis Kelamin</label>
            <div class="row">
                <div class="col-sm-1">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="jk" id="laki-laki" th:field="*{jk}" checked th:value="${laki}">
                        <label class="form-check-label" for="laki-laki">
                            laki Laki
                        </label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="jk" id="perempuan" th:field="*{jk}" th:value="${perempuan}">
                        <label class="form-check-label" for="perempuan">
                            Perempuan
                        </label>
                    </div>
                </div>
            </div>

            <!-- angkatan -->
            <div class="mb-3">
                <label for="angkatan" class="form-label">Angkatan</label>
                <input type="text" class="form-control" id="angkatan" placeholder="Ex. 2019 B" th:field="*{angkatan}">
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Add</button>
                <a th:href="@{/apiclient/mahasiswa}" class="btn btn-warning ms-4">Back</a>
            </div>

        </form>
    </div>
    <!-- end form -->
</body>

</html>